body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body2 {
  background-color: black;
}

h1 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}


h14 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
}

.topnavbar {
  overflow: hidden;
  background-color: #a6a8ab;
}

.topnavbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnavbar a:hover {
  background-color: yellow;
  color: black;
}

.topnavbar .active {
  background-color: blue;
  color: white;
}

.alert {
  background-color: red;
  color: black;
  overflow: hidden;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}
